@model Usuarios
@{
    Layout = "_Layout";
}

<body class="body-index">
    <form class="container-singup posicao-login" asp-controller="Login" asp-action="CriarConta" method="post">
        <label class="label-singup">Nome</label>
        <input class="input-singup" type="text" asp-for="Nome" class="form-control" placeholder="Digite o seu nome">
    
        <label class="label-singup">E-mail</label>
        <input class="input-singup" type="text" asp-for="Email" class="form-control" placeholder="Digite o E-mail">

        <label class="label-singup">Username</label>
        <input class="input-singup" type="text" asp-for="Username" class="form-control" placeholder="Digite o nome do usuário">

        <label class="label-singup">Password</label>
        <input class="input-singup" type="text" asp-for="Password" class="form-control" placeholder="Digite a senha">

        <label class="label-singup">Tipo</label>
        <input class="input-singup" type="text" asp-for="UsuariosEnum" class="form-control" placeholder="Qual o tipo de usuário">

        <button class="button margin" type="submit">Sing in</button>
    </form>
</body>
