<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRUD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/css/Index/Index.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/LoginECriarConta/LoginECriarContacss.css" asp-append-version="true" />
    <link href="~/css/Logado/IndexLogado.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/teste/style.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.4.48/material.css" />
    <script src="https://cdn.syncfusion.com/ej2/20.4.48/dist/ej2.min.js"></script>
</head>

   <body>
        <div>
            <main role="main" class="pb-3">
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            @RenderBody()
            </main>
        </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
    </body>
</html>
