@{
    Layout = "_Layout";
}

<body class="body-index">
    <div>
        <button class="button"><a asp-action="Login" asp-controller="Login">Login</a></button>
        <button class="button"><a asp-action="CriarConta" asp-controller="Login">Sing Up</a></button>
    </div>
    <div><h1 data-text="CRUD" class="h1-text"><span data-text="CRUD" class="span-texto">CRUD</span></h1></div>
</body>
