@model AlterarSenha
@{
    Layout = "_Layout";
}

<form asp-action="AlterarSenha" asp-controller="Logado" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Senha atual</label>
            <input type="text" class="form-control" asp-for="SenhaAtual" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nova senha</label>
            <input type="text" class="form-control" asp-for=NovaSenha id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nova senha</label>
            <input type="text" class="form-control" asp-for="ConfirmaSenha" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Alterar senha</button>
        </div>
</form>
