<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.4.48/material.css" />
<link href="~/css/logado/indexlogado.css" rel="stylesheet" />
<script src="https://cdn.syncfusion.com/ej2/20.4.48/dist/ej2.min.js"></script>
<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.4.48/material.css" />
@addTagHelper *, Syncfusion.EJ2
@*
<header class="cabecalho">
</header>

<nav class="menu-lateral">
    <img src="~/Imagens/Contract-PNG-File.png" alt="Logotipo da HZC" class="menu-lateral__logo">
    <a class="menu-lateral__link menu-lateral__link--videos" asp-action="Adicionar" asp-controller="Logado">Adicionar</a></>
    <a class="menu-lateral__link menu-lateral__link--videos" asp-action="Grafico" asp-controller="Logado">Relatório</a>
    <a class="menu-lateral__link menu-lateral__link--picos" asp-action="GraficoChart" asp-controller="Logado">Gerar</a>
    <a href="#" class="menu-lateral__link menu-lateral__link--integrantes">#</a>
    <a href="#" class="menu-lateral__link menu-lateral__link--camisas">#</a>
    <a class="menu-lateral__link menu-lateral__link--pinturas" asp-action="Sair" asp-controller="Logado">Sair</a>
</nav>
<body class="body-grafico">
    <section class="principal">
    <h1></h1>
        <div>  
            <div class="">
                @Html.Raw(ViewBag.GraficoPizza)<br /><br />
            </div>
        </div>
    </section>
</body>*@
<div class="row mb-4">
    <div class="d-flex flex-row widget summary income">
        <div class="d-flex flex-column justify-content-center p-5">
            <i class="fa-solid fa-dollar-sign fa-2xl"></i>
        </div>
        <div class="d-flex flex-column m-auto py-3">
            <span class="lead">Total</span>
            <h1 class="display-6 fw-bold">@ViewBag.TotalReceita</h1>
        </div>
    </div>
</div>