
@*<input id="ID" value="Mostrar Gráfico" type="button" />
<input id="IDs" value="Mostrar Gráfico" type="button" />*@

<body>
    <section>
    <h2>Relatórios de compras</h2>
        <div id="IDs" class="chart-position-2">
        <canvas id="myCharts" style="min-width: 200px; min-height: 200px; max-width: 400px; max-height: 400px; margin:auto; width:250px; height:250px; display:inline;"></canvas>
    </div>
    <br />

    <div id="ID" class="chart-position">
            <canvas id="myChart" style="width: 500px; height: 300px;"></canvas>
    </div>
    
    <br />
    <div id="IDss" class="chart-position-2">
        <canvas id="myChartss" style="width: 500px; height: 300px;"></canvas>
    </div>
    </section>

    <a asp-action="Index" asp-asp-controller="Logado" role="button" class="button-adicionarenviar">Voltar</a>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script type="text/javascript">

    $(function () {
        $("#ID").show(function () {

            $.ajax({
                type: "POST",
                url: "/Logado/GraficoCharts",
                data: "",
                contextType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSucessResult,
                error: OnError
            });

            function OnSucessResult (data){
                
                var _data=data;
                var _chartLabels=_data[0];
                var _chartData=_data[1];

                var barColor = ["red", "green", "yellow", "blue", "black", "#a12fda", "#1a1d45", "black"];

                new Chart("myChart",
                {
                    type:"bar",
                    data: {
                        labels: _chartLabels,
                        datasets: [{
                            label: 'Custo por produto',
                            backgroundColor: barColor,
                            data: _chartData
                           
                        }]
                    }
                });

            }

            function OnError (err) {

            }

        });
    }); 



    $(function () {
        $("#IDs").show(function () {

            $.ajax({
                type: "POST",
                url: "/Logado/GraficoCharts",
                data: "",
                contextType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSucessResultt,
                error: OnErrorr
            });

            function OnSucessResultt(data) {

                var _data = data;
                var _chartLabels = _data[0];
                var _chartData = _data[1];

                var barColor = ["rgb(255, 99, 132)", "green", "yellow", "blue", "rgb(54, 162, 235)", "black", "#a12fda", "#1a1d45"];

                new Chart("myCharts",
                    {
                        type: "pie",
                        data: {
                            labels: _chartLabels,
                            datasets: [{
                                backgroundColor: barColor,
                                data: _chartData
                            }]
                        }
                    });

            }

            function OnErrorr(err) {

            }

        });
    });

    $(function () {
        $("#IDss").show(function () {

            $.ajax({
                type: "POST",
                url: "/Logado/GraficoCharts",
                data: "",
                contextType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSucessResultt,
                error: OnErrorr
            });

            function OnSucessResultt(data) {

                var _data = data;
                var _chartLabels = _data[0];
                var _chartData = _data[1];

                var barColor = ["rgb(255, 99, 132)", "green", "yellow", "blue", "rgb(54, 162, 235)", "black", "black", "black"];

                new Chart("myChartss",
                    {
                        type: "line",
                        data: {
                            labels: _chartLabels,
                            datasets: [{
                                backgroundColor: barColor,
                                data: _chartData
                            }]
                        }
                    });

            }

            function OnErrorr(err) {

            }

        });
    });
</script>